<div id="card">
  <div id="inside">
    <header>
      <div class="left">
        <div id="name">My Monster</div>
      </div>
      <div class="right">
        <div id="hp">40 HP</div>
        <img src="img/electric.png" alt="" class="icon energy">
      </div>
    </header>
    <figure id="art">
      <img src="img/placeholder.jpg" alt="Monster">
      <figcaption>N°25 Monster</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img class="icon energy" src="img/electric.png">
            <img class="icon energy" src="img/electric.png">
          </div>
          <div class="name">Geo impact</div>
          <div class="damage">60</div>
        </div>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque volutpat diam ac finibus.
      </div>
    </div>
  </div>
</div>